src/main/app/mod-invoice-intacct.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:client="http://www.mulesoft.org/schema/mule/client"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:intacct="http://www.mulesoft.org/schema/mule/intacct"
      xmlns:rest="http://www.mulesoft.org/schema/mule/rest"
      xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.2/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.2/mule-client.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/intacct http://www.mulesoft.org/schema/mule/intacct/1.0/mule-intacct.xsd
        http://www.mulesoft.org/schema/mule/rest http://www.mulesoft.org/schema/mule/rest/1.0/mule-rest.xsd
        http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/1.0/mule-sqs.xsd">

    <description>

    </description>


    <flow name="postinvoicetointacct">
        <sqs:receive-messages queueName="queueName"/>
        <logger level="INFO" message="Received message with #[payload]"/>
    </flow>

</mule>
